
/* Modal fecha seleccionada */
.fechaSeleccionada {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
    left: 50%;
    padding: 20px;
    pointer-events: all;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    width: 400px;
    z-index: 3;
}

hr {
    margin: 10px 0 10px 0;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.closeButton {
    background-color: #e64b5b;
    color: white;
}

/* Estilos del modal */
.agendarModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
    pointer-events: all;
    user-select: none;
}

/* Título del modal */
.agendarModal h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

/* Estilo para etiquetas */
.agendarModal label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #666;
}

/* Campos de entrada */
.agendarModal input[type="time"],
.agendarModal select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

/* Input de hora y select de servicio al pasar el mouse */
.agendarModal input[type="time"]:focus,
.agendarModal select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Botones dentro del contenedor */
.agendarModal .buttonContainer button,
.agendarModal .buttonContainer input[type="submit"] {
    padding: 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Botón de cerrar */
.agendarModal .buttonContainer button#closeButton {
    background-color: #dc3545;
    color: white;
}

/* Botón de agendar */
.agendarModal .buttonContainer input[type="submit"] {
    background-color: #28a745;
    color: white;
}

/* Efecto hover en los botones */
.agendarModal .buttonContainer button#closeButton:hover {
    background-color: #c82333;
}

.agendarModal .buttonContainer input[type="submit"]:hover {
    background-color: #218838;
}

/* Contenedor de botones y botones */
.buttonContainer {
    display: flex;
    justify-content: space-between;
}