/* Modals */
.fechaSeleccionada, .agendarModal  {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
    left: 50%;
    max-width: 90%;
    padding: 20px;
    pointer-events: all;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    width: 520px;
    z-index: 3;
}

.fechaSeleccionada h3, .agendarModal h3 {
    color: #333;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.horaContainer {
    margin-bottom: 10px;
}

/* Contenedor principal que agrupa ambos selectores uno al lado del otro */
.timepickers-wrapper {
    display: flex;
    gap: 20px;
}

/* Contenedor de cada selector */
.timepickerContainer {
    display: flex;
    flex-direction: column;
    width: 120px;
}

/* Selector personalizado de hora */
.custom-time-picker {
    position: relative;
    width: 90%;
    margin-bottom: 30px;
}

/* Estilos del área seleccionada */
.selected-time {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    margin-top: 5px;
}

/* Desplegable de selección de horas */
.time-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    width: 100%;
}

.time-option {
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.time-option:hover {
    background-color: #007bff;
    color: white;
}

.arrow {
    margin-left: 10px;
    font-size: 0.8rem;
}

.custom-time-picker.active .time-dropdown {
    display: block;
}

.custom-time-picker.active .arrow {
    transform: rotate(180deg);
}

#duracionSesion {
    font-size: 0.8rem;
    position: fixed;
    margin-top: -25px;
}

.agendarModal label {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 16px;
}

.agendarModal .select2-container {
    width: 100% !important;
    margin: 5px 0 10px 0;
    will-change: transform;
}

/* Estilos del contenedor de Select2 */
.agendarModal .select2-container--default .select2-selection--single {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    padding: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    transition: border-color 0.3s ease;
}

/* Flecha del selector en Select2 */
.agendarModal .select2-container--default .select2-selection__arrow {
    display: flex;
    align-items: center;  /* Centra verticalmente la flecha */
    justify-content: center;
    height: 100%;  /* Asegura que ocupe todo el contenedor */
}

/* Flecha del selector en Select2 más visible */
.agendarModal .select2-container--default .select2-selection__arrow b {
    border-color: #333 transparent transparent transparent; /* Color de la flecha */
    border-width: 5px 4px 0 4px;  /* Tamaño y forma de la flecha */
    margin-left: 10px;
    display: inline-block;
}

.addPaciente {
    font-size: 0.8rem;
    cursor: pointer;
}

/* Botones */
.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.buttonContainer button, input[type="submit"] {
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 8px;
    transition: background-color 0.3s ease;
}

.closeButton {
    background-color: #e24747;
}

.submitButton {
    background-color: #407fc2;
}

.closeButton:hover {
    background-color: #ce3737;
}