/* Alinear el texto de los labels y los inputs */
.formPaciente label,
.formPaciente input,
.formPaciente select {
    display: block;
    width: 100%; /* Asegura que los elementos ocupen todo el ancho disponible */
    text-align: left; /* Justifica el texto a la izquierda */
    margin-bottom: 10px; /* Espacio entre los elementos */
    font-size: 16px; /* Tamaño de fuente adecuado */
}

/* Ajuste para los inputs */
.formPaciente input[type="text"],
.formPaciente input[type="email"],
.formPaciente select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Ocultar la primera opción del menú de selección */
.prevision option[value="0"] {
    display: none;
}
